[submodule "scs_source"]
	path = scs_source
	url = https://github.com/cvxgrp/scs.git
[submodule "scs/pythoncapi-compat"]
	path = scs/pythoncapi-compat
	url = https://github.com/python/pythoncapi-compat
