graft python_linsys
graft src 
graft test 
graft scs
graft scs/src
graft scs/test
graft scs/test/problems
graft scs/include
graft scs/linsys
graft scs/linsys/cpu
graft scs/linsys/cpu/direct
graft scs/linsys/cpu/indirect
graft scs/linsys/gpu
graft scs/linsys/gpu/indirect
graft scs/linsys/external
graft scs/linsys/external/amd
graft scs/linsys/external/qdldl
include LICENSE
