[build-system]
build-backend = 'mesonpy'
requires = [
  "numpy >= 2.0.0; python_version > '3.8'",
  "oldest-supported-numpy; python_version <= '3.8'",
  "meson-python"
]

[project]
name = 'scs'
version = "3.2.7"
description = 'Splitting conic solver'
readme = 'README.md'
requires-python = '>=3.7'
license = {file = 'LICENSE'}
authors = [
  {name = "Brendan O'Donoghue", email = "bodonoghue85@gmail.com"}]
dependencies = [
   'numpy',
   'scipy',
]

[tool.cibuildwheel]
# load SCS source submodule
before-all = "git submodule update --init"

[tool.cibuildwheel.linux]
# install openblas
before-build = "yum install -y libopenblas-devel"