name: build_mkl

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        # Windows not reporting MKL location correctly
        os: [ ubuntu-18.04, macos-10.15 ] # windows-2022
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10" ]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,anaconda
      - name: Install dependencies
        run: |
          conda install mkl scipy numpy pytest
      - name: Test
        run: |
          python setup.py install --scs --mkl
          pytest
          rm -rf build/
