---
name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build wheels
        uses: pypa/cibuildwheel@v1.11.1
        env:
          CIBW_SKIP: "cp27-* cp34-* cp35-* pp*"
          CIBW_BEFORE_ALL_LINUX: "yum install -y openblas-devel liblapack-dev"
          CIBW_BEFORE_ALL_MACOS: "brew install openblas lapack"
          CIBW_TEST_COMMAND: "pytest {project}/test"
          CIBW_TEST_REQUIRES: pytest
      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
  build_wheels_windows:
    name: Build wheels on windows Python-${{ matrix.python-version }} ${{ matrix.arch }}
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64] #, x86]
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: conda-incubator/setup-miniconda@v2
        if: matrix.arch == 'x64'
        with:
          activate-environment: scs
          auto-update-conda: true
          channels: conda-forge,anaconda
          python-version: ${{ matrix.python-version }}
          miniconda-version: "latest"
      - uses: conda-incubator/setup-miniconda@v2
        if: matrix.arch == 'x86'
        with:
          activate-environment: scs
          miniconda-version: "4.5.12"
          auto-update-conda: true
          channels: conda-forge,ana
          python-version: ${{ matrix.python-version }}
          architecture: x86
      - name: Install Deps
        run: conda install numpy scipy nose mkl openblas lapack
      - name: Build Wheel
        run: python setup.py bdist_wheel
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.arch }}
      - name: Run tests
        shell: bash
        run: |
          set -e
          which python
          pip install dist/*whl
          pip install pytest
          pytest
      - uses: actions/upload-artifact@v2
        with:
          path: ./dist/*.whl
